dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.swp
*.class
.virtualenv
.hsenv
.cabal-sandbox/
encodings
cabal.sandbox.config
cabal.config
benchmarks/industrial
benchmarks/popl_experiments
tools/git-merge-analyser/git-merge-analyzer
tools/git-merge-analyser/src/tags
